@using CompositeUI.Service.Infrastructure.Consts
@using CompositeUI.Web.Common.Extensions
@model object

@{
    Html.ViewDataContainer.ViewData.TemplateInfo.RemoveFromVisited(ViewData);
    if (ViewContext.RequestContext.RouteData.DataTokens.ContainsKey(Consts.RouteServiceKey) && !ViewData.ContainsKey("_excludePrefix"))
    {
        ViewData.TemplateInfo.HtmlFieldPrefix = ViewContext.RequestContext.RouteData.DataTokens[Consts.RouteServiceKey] + "." + ViewData.TemplateInfo.HtmlFieldPrefix;
    }
}

<div>
    @Html.LabelFor(m => m)
</div>

@if (!string.IsNullOrEmpty(ViewData.ModelMetadata.Description))
{
    <div>
        @ViewData.ModelMetadata.Description
    </div>
}

<div>
    @Html.EditorFor(m => m)
</div>

<div>
    @Html.ValidationMessageFor(p => p)
</div>
