

<h1>Composite UI</h1>
<h3>author: Michal Padzik</h3>
<h3>mail: padzikm@gmail.com</h3>
<h3>code: https://github.com/padzikm/CompositeUI</h3>
<h3>video: <a href="https://www.youtube.com/watch?v=IfvRVJnZ09A" target="_blank">recording</a></h3>
